@model CPD.Models.Customer.DetailCustomer

@{
    ViewBag.Title = "Details of Customer";
}
    <style>
        body {
            background-color: #edfffe;
            background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
            font-size: large;
        }
    </style>
<h2>Detailed Customer Information</h2>
<div class="jumbotron">
    <div>
        
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Telephone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telephone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Notes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Notes)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CustomerID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustomerID)
            </dd>

        </dl>
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.OwnerId)
                </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model.Projects)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeOfProject)
                </td>
            </tr>
        }

    </table>
</div>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
